@import url('https://fonts.googleapis.com/css?family=Shadows-Into-Light+Condensed:700|Shadows-Into-Light:100,300,700');

body {
    margin: 0;
    background: url(./images/Caverna.jpg) 100% 100% no-repeat;
    background-size: cover;
}

p {
    color: green;
    font-family: Shadows-Into-Light;
    margin: 10;
    display: inline-block;
    white-space: pre-wrap;
}

#screen {
    width: 100vw;
    height: 90vh;
    background: url(./images/Caverna.jpg) 100% 100% no-repeat;
    background-size: cover;
    font-family: Shadows-Into-Light;
    display: flex;
    justify-content: center;
    align-items: center;
}

#playersInputSpot {
    background: url(./images/Caverna.jpg) 100% 100% no-repeat;
    background-size: cover;
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#gameOverCanvas {
    z-index: -1;
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: black;
}

.choices {
    font-size: 4vh;
    height: 130%;
    width: 30%;
    background-color: purple;
    border: 2px;
    box-shadow: 2px;
    border-color: white;
    border-radius: 5px;
    margin-bottom: 20px;
}
