@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Mea+Culpa&family=Shadows+Into+Light&display=swap');
body {
    margin: 0;
    background-image: url('../images/Caverna.jpg') 100% 100% no-repeat;
    background-size: cover;
}

p {
    color: white;
    font-family: 'Indie Flower', cursive;
    margin: 10;
    font-size: 20px;
    display: inline-block;
    white-space: pre-wrap;
}

#screen {
    width: 100vw;
    height: 90vh;
    background-image: url('../images/Caverna.jpg');
    background-size: cover;
    font-family: 'Mea Culpa', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
}

#playersInputSpot {
    background: url(../images/Caverna.jpg) 100% 100% no-repeat;
    background-size: cover;
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#gameOverCanvas {
    z-index: -1;
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: black;
}

.choices {
    font-size: 4vh;
    height: 130%;
    width: 30%;
    background-color: grey;
    border: 2px;
    box-shadow: 2px;
    border-color: white;
    border-radius: 5px;
    margin-bottom: 20px;
}
